body{
    margin: 0;
    padding: 0;
}

*{
    margin: 0px;
    padding: 0px;
}

ul li{
    list-style: none;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

h2{
    margin-bottom: 10px;
}

#container{
    width: 366px;
    height: 414px;
    border: solid lightgray 1px;
    border-radius: 8px;
    margin: auto;
    margin-top: 220px;
    padding: 48px 40px 36px;
}

.logo{
    width: 75px;
    margin-bottom: 10px;
    margin-left: 140px;
}

h1{
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 10px;
}

h2{
    font-size: 15.5px;
    color: rgb(32,33,36);
    font-weight: 500;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

p{
    color: gray;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: rgb(26,115,232);
    font-size: 15px;
}


#email{
    position: absolute;
    width: 334px;
    height: 22px;
    border: solid lightgray 1px;
    border-radius: 5px;
    padding: 15px;
    font-size: 17px;
    background-color: white;
    bottom: 0px;
    z-index: 20;
}

#email:focus{
    outline: solid 2px rgb(26,115,232);
}

.focusEmailInput{
    outline: none !important;
}

.blurEmailInput{
    z-index: 123123 !important;
}

#emailFieldset{
    position: absolute;
    top: 403px;
    left: 778px;
    width: 366px;
    height: 53px;
    border-radius: 5px;
    border: none;
}

.focusFieldset{
    outline: solid 2px rgb(26,115,232) !important;
    z-index: 100 !important;
}

#emailLegend{
    position: absolute;
    text-align: center;
    font-size: 13px;
    left: 785px;
    top: 393px;
    width: 140px;
    background-color: white;
    z-index: 11230;
    color: rgb(26,115,232);
}

.focusLegend{
    position: absolute;
    text-align: center;
    font-size: 13px;
    left: 785px;
    top: 395px;
    width: 140px;
    background-color: white;
    z-index: 12310;
}

.forget{
    margin-bottom: 40px;
}

.forget > div{
    margin-top: 60px;
}

.guest{
    margin-bottom: 50px;
}

.guest > p{
    font-size: 14.8px;
}

#submit{
    margin-left: 209px;
    background-color: rgb(26,115,232);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 9px 23px;
    line-height: 18px;
    font-size: 15px;
    cursor: pointer;
    position: absolute;
    top: 620px;
    left: 860px;
}

#submit:hover{
    background-color: rgb(6, 92, 204);
}

.account > a{
    font-size: 14px;
    padding: 8px 10px 8px 10px;
}

.account > a:hover{
    color: rgb(0, 87, 201);
    background-color: rgb(245, 253, 255);
}

/* option 200 48
footer 183 48 */
footer{
    margin-left: 725px;
    margin-top: 10px;
}

footer > a{
    color: rgb(60,64,67);
    font-size: 13px;
    margin-left: 26px;
}

#language{
    padding-left: 10px;
    border: none;
    width: 190px;
    height: 48px;
}

#language:focus{
    background-color: #eee;
    border-radius: 5px;
    outline: none;
}

