body{
    margin: 0;
    padding: 0;
}

*{
    margin: 0px;
    padding: 0px;
}

ul li{
    list-style: none;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

#container{
    width: 366px;
    height: 414px;
    border: solid lightgray 1px;
    border-radius: 8px;
    margin: auto;
    margin-top: 220px;
    padding: 48px 40px 36px;
}

.logo{
    width: 75px;
    margin-bottom: 10px;
    margin-left: 140px;
}

h1{
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 10px;
}

h2{
    font-size: 15.5px;
    color: rgb(32,33,36);
    font-weight: 500;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

p{
    color: gray;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: rgb(26,115,232);
    font-size: 15px;
}

#email{
    width: 321px;
    height: 24px;
    border: solid lightgray 1px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 8px;
    padding: 15px;
    font-size: 17px;
}

#email:focus{
    border: solid 2px rgb(26,115,232);
    outline: none;
}

@keyframes movePlhTop{
    to {top: 393px;}
}
/* 
@keyframes movePlhLeft{
    from {left: 100px;}
    to {left: 200px;}
}

@keyframes sizeUp{
    to{ transform: scale(0.6);}
} */

.placeholder{
    position: absolute;
    top: 420px;
    left: 785px; 
    font-size: 17px;
    color: rgb(88, 88, 88);
    text-align: center;
    width: 180px;
    /* animation: movePlhTop 1s infinite; */
    /* animation: sizeUp 1s infinite; */
    z-index: 100;
    background-color: white;
    height: 10px;
}

.forget{
    margin-bottom: 40px;
}

/* 76 36 */
.guest{
    margin-bottom: 50px;
}

.guest > p{
    font-size: 14.8px;
}

#submit{
    margin-left: 209px;
    background-color: rgb(26,115,232);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 9px 23px;
    line-height: 18px;
    font-size: 15px;
    cursor: pointer;
    position: absolute;
    top: 620px;
    left: 860px;
}

#submit:hover{
    background-color: rgb(6, 92, 204);
}

.account > a{
    font-size: 14px;
}

.account > a:hover{
    color: rgb(0, 87, 201);
}

/* option 200 48
footer 183 48 */
footer{
    margin-left: 725px;
}

footer > a{
    color: rgb(60,64,67);
    font-size: 13px;
    margin-left: 25px;
}