body{
    margin: 0;
    padding: 0;
}

*{
    margin: 0px;
    padding: 0px;
}

ul li{
    list-style: none;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

#container{
    width: 366px;
    height: 414px;
    border: solid lightgray 1px;
    border-radius: 8px;
    margin: auto;
    margin-top: 220px;
    padding: 48px 40px 36px;
}

.logo{
    width: 75px;
    margin-bottom: 10px;
    margin-left: 140px;
}

h1{
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 10px;
}

.email{
    border: solid lightgray 1px;
    border-radius: 50px;
    margin: auto;
    width: 250px;
    display: flex;
}

.email > p{
    color: black;
    font-weight: bold;
}

p{
    color: gray;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: rgb(26,115,232);
    font-size: 15px;
}

#password{
    position: absolute;
    width: 334px;
    height: 22px;
    border: solid lightgray 1px;
    border-radius: 5px;
    margin-top: 17px;
    padding: 15px;
    font-size: 17px;
    background-color: white;
    bottom: 0px;
    z-index: 20;
}

#password:focus{
    outline: solid 2px rgb(26,115,232);
}

/* ================== */

.focusPwInput{
    outline: none !important;
}

.blurPwInput{
    z-index: 123123 !important;
}

#pwFieldset{
    position: absolute;
    top: 450px;
    left: 778px;
    width: 366px;
    height: 53px;
    border-radius: 5px;
    border: none;
}

.focusPwFieldset{
    outline: solid 2px rgb(26,115,232) !important;
    z-index: 100 !important;
}

#pwLegend{
    position: absolute;
    text-align: center;
    font-size: 13px;
    left: 785px;
    top: 440px;
    width: 100px;
    background-color: white;
    z-index: 11230;
    color: rgb(26,115,232);
}

.focusPwLegend{
    position: absolute;
    text-align: center;
    font-size: 13px;
    left: 785px;
    top: 385px;
    width: 140px;
    background-color: white;
    z-index: 12310;
}

/* ================== */

#submit{
    margin-left: 209px;
    background-color: rgb(26,115,232);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 9px 23px;
    line-height: 18px;
    font-size: 15px;
    cursor: pointer;
    position: absolute;
    top: 593px;
    left: 860px;
}

#submit:hover{
    background-color: rgb(6, 92, 204);
}

.account{
    margin-top: 198px;
}

.account > a{
    font-size: 15px;
    padding: 8px 9px 8px 9px;
}

.account > a:hover{
    color: rgb(0, 87, 201);
    background-color: rgb(245, 253, 255);
}


/* option 200 48
footer 183 48 */
footer{
    margin-left: 725px;
    margin-top: 10px;
}

footer > a{
    color: rgb(60,64,67);
    font-size: 13px;
    margin-left: 26px;
}

#language{
    padding-left: 10px;
    border: none;
    width: 190px;
    height: 48px;
}

#language:focus{
    background-color: #eee;
    border-radius: 5px;
    outline: none;
}

.checkbox{
    display: flex;
    position: absolute;
    color: black;
    margin-top: 110px;
}

.checkbox > input{
    color: black;
}

.checkbox > p{
    margin-left: 10px;
    color: black;
}