<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/Google Icon.png">
    <link rel="stylesheet" href="/static/password.css">
    <title>로그인 - Google 계정 비번창</title>
</head>
<body>
    <div id="container">
        <div class="logo">
            <img src="/static/logo.png" alt="">
        </div>
        <h1>이메일에서 @ 이전까지의 이름</h1>
        <div class="email">
            <img src="#" alt="프사">
            <p>이메일 주소</p>
        </div>
        <br>
        <div class="forget">
            <form method="GET" action="#">

                <input id="password"
                placeholder=""
                type="password"
                autocomplete="off"
                name="email"
                oninvalid="this.setCustomValidity('비밀번호를 입력하세요.')"
                required>
                
                <input id="submit"
                type="submit"
                value="다음">
                
            </form>
            
            <!-- pattern="^(?=[A-Z])(?=[a-z])(?=[0-9])(?=[!@#$%^&*()_-+=[]{}~?:;`|/]).{6,50}$$" -->
            <!-- <div class="placeholder">비밀번호 입력</div> -->
            <form class="checkbox">
                <input id="checkbox" type="checkbox">
                <p>비밀번호 표시</p>
            </form>
        </div>
        <div class="account">
            <a href="#">비밀번호 찾기</a>
        </div>
    </div>
    
    <footer>
        <select name="language" id="language">
            <option value="ko">한국어</option>
            <option value="en">English</option>
            <option value="jp">日本語</option>
            <option value="ch">繁體中文</option>
        </select>
        <a href="#">도움말</a>
        <a href="#">개인정보처리방침</a>
        <a href="#">약관</a>
    </footer>
    
    <script src="../static/script.js"></script>
</body>
</html>