<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/Google Icon.png">
    <link rel="stylesheet" href="/static/signup.css">
    <title>로그인 - Google 계정</title>
</head>
<body>
    <div id="container">
        <div class="logo">
            <img src="/static/logo.png" alt="">
        </div>
        <h1>Google 계정 만들기</h1>
        <h2>생성할 계정 정보를 입력하세요.</h2>
        <br>
        <div class="forget">
            <form id="emailForm" method="POST" onsubmit="funSignup(event);">

                <!-- pattern="[a-zA-Z0-9]+[@][a-zA-Z0-9]+[.]+[a-zA-Z]+[.]*[a-zA-Z]*" -->

                <fieldset id="makeEmailFieldset">
                    <input onclick="moveMakeEmailPlh()"
                    id="makeEmail"
                    placeholder="사용자 이름"
                    type="text"
                    autocomplete="off"
                    name="email"
                    required>

                    <p>@gmail.com</p>
                </fieldset>

                <fieldset id="makePwFieldset">
                    <input onclick="moveMakePwPlh()"
                    class="password"
                    id="makePw"
                    placeholder="비밀번호"
                    type="password"
                    pattern=".{6,}"
                    title="6자 이상 비번만 가능"
                    autocomplete="off"
                    name="password"
                    required>
                </fieldset>

                <fieldset id="checkPwFieldset">
                    <input onclick="moveCheckPwPlh()"
                    class="password2"
                    id="checkPw"
                    placeholder="확인"
                    type="password"
                    pattern=".{6,}"
                    autocomplete="off"
                    name="password"
                    required>
                </fieldset>

                <legend id="makeEmailLegend"></legend>
                <legend id="makePwLegend"></legend>
                <legend id="checkPwLegend"></legend>
                
                <input id="submit"
                type="submit"
                value="가입">
                
            </form>

            <form class="checkbox">
                <input id="checkbox" type="checkbox">
                <p>비밀번호 표시</p>
            </form>
        </div>
    </div>
    
    <footer>
        <select name="language" id="language">
            <option value="ko">한국어</option>
            <option value="en">English</option>
            <option value="jp">日本語</option>
            <option value="ch">繁體中文</option>
        </select>
        <a target="_blank" href="https://support.google.com/accounts?hl=ko&visit_id=638366309276973842-32816495&rd=2&p=account_iph#topic=3382296">도움말</a>
        <a target="_blank" href="https://policies.google.com/privacy?gl=KR&hl=ko">개인정보처리방침</a>
        <a target="_blank" href="https://accounts.google.com/TOS?loc=KR&hl=ko">약관</a>
    </footer>
    
</body>
<script src="../static/REST.js"></script>
<script src="../static/script.js"></script>
</html>